{% extends "@DForum/layout.html.twig" %}

{% block title %}Index Forums{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/api.css') }}" />
<style>

</style>
{% endblock %}


{% block body %}

<h1 class="text-center">{{ 'discutea.forum.forumlist'|trans }}</h1>

<div class="container">
    <div class="api-summary panel-default">

        {% for category in categories if is_granted('CanReadCategory', category) %}

            <div class="api-summary-heading">
                <h3>{{ category.name }}</h3>
            </div>

        <div class="panel-body">

            {% for forum in category.forums %}

                <section class="col-md-6">
                    <h3><a href="{{ path('discutea_forum_topic', {'slug': forum.slug}) }}" title="{{ forum.name }}">{{ forum.name }}</a></h3>
                    <hr>
                    <h6>{{ forum.description }} </h6>

                </section>
                <section class="col-md-2">
                    <ul id="post-topic">
                        <li class="list-unstyled"> Topics:62 </li>
                        <li class="list-unstyled"> Posts:445 </li>
                    </ul>
                </section>
                <section class="col-md-3">
                    {% set lastTopic = dfLastTopicInForum(forum) %}
                    {% if lastTopic is not null %}
                        {% if lastTopic.posts.last.poster is not null %}
                            {% set username = lastTopic.posts.last.poster.username %}
                        {% else %}
                            {% set username = 'discutea.forum.deleted.user'|trans %}
                        {% endif %}
                        <h4> <a class="lastComment" href="{{ dfLastPostPages(lastTopic.posts.last) }}">{{ lastTopic.posts.last.topic.title }}</a></h4> <hr>
                        {{ 'discutea.forum.lastpostby'|trans }} <i class="glyphicon glyphicon-user"></i> {{ username }}  <br>
                        <i class="glyphicon glyphicon-calendar"></i> {{ lastTopic.posts.last.date|date("Y-m-d H:i:s") }}

                    {% else %}
                    {%  endif %}

                </section>


            {% else %}
                <p class="text-center"><a class="btn btn-primary" href="{{ path('discutea_forum_create_forum', {'id': category.id}) }}">{{ 'discutea.forum.category.addforum'|trans }}</a></p>
            {% endfor %}

        </div>


        {% else %}
            <p class="text-center"><a class="btn btn-primary" href="{{ path('discutea_forum_create_category') }}"> {{ 'discutea.forum.category.createnew'|trans }} </a></p>
        {% endfor %}

    </div>
</div>
{#
<!--
      <div class="row forum-category-bloc">
          {% for forum in category.forums %}
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="category thumbnail text-center forum-box color-dark">
                <h3><a href="{{ path('discutea_forum_topic', {'slug': forum.slug}) }}" title="{{ forum.name }}">{{ forum.name }}</a></h3>
                <p>{{ forum.description }}</p>
                <hr />
                <div class="text-center">
                {% set lastTopic = dfLastTopicInForum(forum) %}
                {% if lastTopic is not null %}
                    {% if lastTopic.posts.last.poster is not null %}
                      {% set username = lastTopic.posts.last.poster.username %}
                    {% else %}
                      {% set username = 'discutea.forum.deleted.user'|trans %}
                    {% endif %}
                    <a class="lastComment" href="{{ dfLastPostPages(lastTopic.posts.last) }}">
                      <p>
                        {{ 'discutea.forum.lastpostby'|trans }} <strong>{{ username }}</strong>
                        <br />{{ lastTopic.posts.last.date|date("Y-m-d H:i:s") }}
                      </p>
                    </a>
                {% else %}
                    <p>{{ 'discutea.forum.null'|trans }}</p>
                {% endif %}
                </div>
              </div>
            </div>
          {% else %}
            <p class="text-center"><a class="btn btn-primary" href="{{ path('discutea_forum_create_forum', {'id': category.id}) }}">{{ 'discutea.forum.category.addforum'|trans }}</a></p>
          {% endfor %}
      </div>  
    {% else %}
      <p class="text-center"><a class="btn btn-primary" href="{{ path('discutea_forum_create_category') }}"> {{ 'discutea.forum.category.createnew'|trans }} </a></p>
    {% endfor %}
  </div>
  -->#}
{% endblock %}
