{% extends 'template/base.html.twig' %}


{% block body %}

    {% block css %}
        <link rel="stylesheet" href="{{ asset('css/auto-suggest.css') }}" />
    {%  endblock %}

    <h3> Ajouter une route</h3>

    {{ form_start(form) }}

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h6>System de depart</h6>
                <input id="search-start" type="text" name="search" placeholder="Search.." autocomplete="off" onkeyup="searchSystem('start')" class="auto-suggest" style="color: black"
                       onfocus="document.getElementById('search-start-list').style.cssText = 'display:block;'"
                       onblur="document.getElementById('search-start-list').style.cssText = 'display:none;'">
                <ul style="display: none;" id="search-start-list" class="suggestions"></ul>
            </div>

            <h6>System d'arrivé</h6>
            <div class="col-sm-6">
                <input id="search-end" type="text" name="search" placeholder="Search.." autocomplete="off" onkeyup="searchSystem('end')" class="auto-suggest" style="color: black"
                       onfocus="document.getElementById('search-end-list').style.cssText = 'display:block;'"
                       onblur="document.getElementById('search-end-list').style.cssText = 'display:none;'">
                <ul style="display: none;" id="search-end-list" class="suggestions"></ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                {{ form_row(form.maxSize) }}
            </div>
            <div class="col-sm-4">
                {{ form_row(form.maxColat) }}
            </div>
            <div class="col-sm-4">
                {{ form_row(form.price) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                {{ form_row(form.danger1b) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.danger5b) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.danger10b) }}
            </div>

            <div class="col-sm-3">
                {{ form_row(form.dangerMax) }}
            </div>
        </div>



    </div>


    {{ form_row(form.save) }}

    {{ form_end(form) }}





    <script>

        function searchSystem(inputText) {
            //alert(input.value);
            var list = document.getElementById('search-' + inputText + '-list');
            var input = document.getElementById('search-' + inputText);
            if(input.value === "" || input.value === undefined){
                list.innerHTML = '';
            }
            else{
                $.ajax({
                    url: '{{ (path('search-system')) }}',
                    type: "GET",
                    dataType: "json",
                    data: {
                        system : input.value
                    },
                    //async: true,
                    success: function (data) {
                        //alert(JSON.stringify(data));
                        var option = '';
                        //alert(data.length);

                        for (var i = 0; i < data.systems.length; i++) {
                            option += '<li onmousedown=addSystem(' + data.systems[i].id + ',"' + data.systems[i].name + '","' + inputText + '")>' + data.systems[i].name + '</li>';
                        }

                        list.innerHTML = option;

                    }
                }).fail(function (msg) {
                    alert('error');
                });
            }

        }


        function addSystem(systemId, systemName, inputId){
            var input = document.getElementById("form_" + inputId);
            input.value = systemId;

            var list = document.getElementById('search-' + inputId  + '-list');
            list.innerHTML = '';

            var search = document.getElementById('search-' + inputId );
            search.value = systemName;
            search.disabled = true;
        }



    </script>

{% endblock %}