{% extends 'template/base.html.twig' %}


{% block body %}



    <h1> Detail de la commande n°{{ command.id }}</h1>


    Issuer : {{ command.issuer.name }} <br>
    Contractor : {% if command.contractor is null %} - {% else %} {{ command.contractor.name }} {% endif %} <br>

    Prix estimé : {{ command.estimatedPrice|number_format(2, '.', ',')}} isk <br>
    {% if command.state == 'proposed' %}
        Prix proposé : {{ command.suggestedPrice|number_format(2, '.', ',')}} isk <br>

    {% endif %}

    Etat : {{ command.state }} <br>

    <a target="_blank" href="{{command.evepraisal }}"> Lien Evepraisal </a><br>




    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr> <th> Item </th> <th> Quantité </th> <th> Prix estimé </th> </tr>
        </thead>
        {% for item in command.items %}
            <tr> <td> {{ item.item.name }} </td>  <td> {{ item.quantity }} </td> <td> TODO </td> </tr>
        {% endfor %}
    </table>
    </div>

    {% if command.contractor is null %}
        {{ form_start(proposed_form) }}
        {{ form_end(proposed_form) }}

    {% endif %}

    {% if command.state == 'proposed' and command.issuer == user %}
        <a  href="{{path('commandaccept', {'id' : command.id}) }}"> Accepter le prix proposé </a><br>
        <a  href="{{path('commandrefuse', {'id' : command.id}) }}"> Refusé le prix proposé </a>

    {% endif %}


{% endblock %}