{% extends 'template/base.html.twig' %}

{% block title %}PLAP - Fleet {% endblock %}

{% block body %}

<h4> Fleet du {{ fleet.date|date("d/m/Y h:i")  }}</h4> <br>

<h4> {{ fleet.description }}</h4><br>

<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <td> - </td>

            <td> Ship </td>

            <td>Personnage (User)</td>

            <td>System</td>

        </tr>


        {% for member in fleet.members %}
            <tr>



                {% if member.ship is null %}
                    <td><img src="https://image.eveonline.com/render/1_32.png" class="img-responsive"></td>
                    <td> Vaisseau inconnue </td>
                {% else %}
                    <td><img src="https://image.eveonline.com/render/{{ member.ship.id }}_32.png" class="img-responsive"></td>
                    <td> {{ member.ship.name }} </td>
                {% endif %}


                {% if member.api is null %}
                    <td> {{ member.charName  }} (Membre non enregistré) </td>
                {% else %}
                    <td> {{ member.api.charName  }} ({{ member.api.user.name }}) </td>
                {% endif %}

                {% if member.system is null %}
                    <td> System inconnue</td>
                {% else %}
                    <td> {{ member.system.name  }}  </td>
                {% endif %}

            </tr>

        {% else %}
            IL n'y a aucune fleet.
        {% endfor %}




        {% endblock %}
