
<h1> Details de l'api de {{ api.charName }}</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Summary</h3>
    </div>

    <div class="panel-body">

        <div class="box-body box-profile">

            <img src="{{ portrait }}" class="profile-user-img img-responsive img-circle img-lazy-load"  />
            <h3 class="profile-username text-center">
                {{ api.charName }}
            </h3>

            <p class="text-muted text-center">
                {{ corp }}
            </p>


            <hr>

            <dl>

                <dt>A rejoint</dt>
                <dd>Il y a {{ joined }} jours</dd>

                <dt>Skillpoints</dt>
                <dd>{{ skillpoints|number_format(0, '.', ' ') }}</dd>

                <dt>Wallet</dt>
                <dd>{{ wallet|number_format(0, '.', ',') }} isk</dd>

                <dt>Ship actuel</dt>
                <dd>{{ current_ship.type }} <i>{{ current_ship.name }}</i></dd>

                <dt>Derniére location</dt>
                <dd>
                    {% if location.type == 'station' %}
                        Station {{ location.name }}
                    {% elseif location.type == 'citadel' %}
                        Citadel {{ location.name }}
                    {% else %}
                        Dans l'espace
                    {% endif %}
                </dd>

                <dt>Security Status</dt>
                <dd>

                    {% if security_status < 0 %}
                        <span class="text-failed">
                            {{ security_status|number_format(1, '.', ',') }}
                        </span>
                    {% else %}
                        <span class="text-success">
                            {{ security_status|number_format(1, '.', ',') }}
                        </span>
                    {% endif %}

                </dd>


            </dl>
        </div>
    </div>
</div>